@charset "utf-8";

body{padding:0; margin:0;}

div#topo {background: #8ace1e; width: 100%; height: 40px;}

div#corpo {padding: 190px 0px 0px 0px;}

div#box {width: 280px; height: 100px; padding: 30px; background: #8ace1e; margin:0 auto;}

div#box p {width: 60px; float:left; color: #ffffff; margin:1px; padding:1px;}

div#box input{border:none; padding:3px;}

.bt-login{width: 75px; height: 30px; background: #607e1f; padding: 5px; color: #ffffff;}
.bt-login:hover{width: 73px; height: 28px; background: #607e1f; padding: 5px; color: #ffffff; margin:0px 1px 0px 1px;}
.bt-login:active{width: 73px; height: 28px; background: #607e1f; padding: 5px; color: #ffffff; margin:0px 1px 0px 1px;}

.bt-input{width: 75px; height: 30px; background: #8ace1e; padding: 5px; color: #000000; border:none;}
.bt-input:hover {width: 75px; height: 30px; background: #607e1f; padding: 5px; color: #ffffff; border:none;}
.bt-input:active {width: 71px; height: 26px; background: #607e1f; padding: 5px; color: #ffffff; border:none; margin:0px 0px 0px 2px;}

footer#rodape {clear: both; border-top: 1px solid #606060; position:absolute; bottom:0; width:100%;}

footer#rodape p {text-align: center;}
