@charset "utf-8";
/* CSS Document */

body{ font-family:Arial, Helvetica, sans-serif; background:url(../img/back_acad.png) repeat; padding:0; margin:0;}
a{text-decoration:none;}

ul, li{list-style:none;}
table tr th{font-weight:normal; }

.bt-input{width: 75px; height: 26px; background: #c8c8c8; padding: 5px; color: #565656; border:none;}
.bt-input:hover {width: 75px; height: 26px; background: #aaaaaa; padding: 5px; color: #232323; border:none; margin:0px 0px 0px 0px;}
.bt-input:active {color: #ffffff;}

.bt-input2{width: 75px; height: 26px; background: #1613c0; color: #ffffff; border:none; font-family: Tahoma; font-size: 16px;}
.bt-input2:hover {width: 75px; height: 26px; background: #2a26ea; color: #ffffff; border:none; margin:0px 0px 0px 0px; font-family: Tahoma; font-size: 16px;}
.bt-input2:active {width: 75px; height: 26px; background: #1613c0; color: #ffffff; border:none; margin:0px 0px 0px 0px; font-family: Tahoma; font-size: 16px;}

.bt-remover{transition: background .0s; border:none; padding: 10px 6px 0px 7px;}
.bt-remover:hover{background: #ff3f4f; padding: 10px 6px 0px 7px; border:none;}
.bt-remover:active{background: #e92132; padding: 10px 6px 0px 7px; border:none}

.bt-remover2{transition: background .0s; border:none; padding: 7px 32px 7px 32px; background: #ff3f3f; color: #ffffff;}
.bt-remover2:hover{background: #ef1515; padding: 7px 32px 7px 32px; border:none;}
.bt-remover2:active{background: #d71515; padding: 7px 32px 7px 32px; border:none}

.bt-imprimir2{padding: 5px 6px 5px 6px; background: #1613c0; color: #ffffff;}
.bt-imprimir2:hover{background: #2a26ea; color: #ffffff;}
.bt-imprimir2:active{background: #1613c0; color: #ffffff;}

.bt-visualizar{transition: background .0s; border:none; padding: 10px 6px 0px 6px;}
.bt-visualizar:hover{background: #c6c6c6; padding: 10px 6px 0px 6px; border:none;}
.bt-visualizar:active{background: #b0b0b0; padding: 10px 6px 0px 6px; border:none;}

.bt-editar{transition: background .4s; background: #4168e8; padding: 5px; color: #ffffff; border:none;}
.bt-editar:hover{background: #110dbc; padding: 5px; color: #ffffff; border:none;}
.bt-editar:active{background: #110dbc; padding: 5px; color: #ffffff; border:none;}

.bt-imagem{transition: background .4s; background: #e241e8; padding: 5px; color: #ffffff; border:none;}
.bt-imagem:hover{background: #b50ebf; padding: 5px; color: #ffffff; border:none;}
.bt-imagem:active{background: #b50ebf; padding: 5px; color: #ffffff; border:none;}

.bt-prol{transition: background .4s; background: #e241e8; padding: 5px; color: #ffffff; border:none;}
.bt-prol:hover{background: #b50ebf; padding: 5px; color: #ffffff; border:none;}
.bt-prol:active{background: #b50ebf; padding: 5px; color: #ffffff; border:none;}

.bt-add{background: #2621f7; padding: 5px; color: #ffffff; border:none; padding: 7px 16px 8px 16px;}
.bt-add:hover{background: #110dbc; padding: 5px; color: #ffffff; border:none; margin:0px 0px 0px 0px; padding: 7px 16px 8px 16px;}
.bt-add:active{background: #110dbc; padding: 5px; color: #ffffff; border:none; margin:0px 0px 0px 0px; padding: 6px 15px 7px 15px;}

.bt-cancelar{background: #c8c8c8; color: #565656; border:none; margin: 0px 0px 0px 0px; padding: 2px 13px 3px 13px; font-family: Tahoma; font-size: 17px;}
.bt-cancelar:hover{background: #aaaaaa; color: #232323; border:none; margin:0px 0px 0px 0px; padding: 2px 13px 3px 13px; font-family: Tahoma; font-size: 17px;}
.bt-cancelar:active{background: #aaaaaa; color: #ffffff; border:none; margin:0px 0px 0px 0px; padding: 2px 13px 3px 13px; font-family: Tahoma; font-size: 17px;}

.bt-imprimir{background: #21c16a; font-family: Lucida Calligraphy; font-size:110%; -moz-border-radius:7px; -webkit-border-radius:7px; color:#ffffff; transition: background-color 1s; width: 110px; height: 28px; border:none;}
.bt-imprimir:hover{background-color: #606060; font-family: Lucida Calligraphy; font-size:110%; -moz-border-radius:7px; -webkit-border-radius:7px; color:#ffffff; width: 110px; height: 28px; border: none;}
.bt-imprimir:active{background-color: #606060; font-family: Lucida Calligraphy; font-size:110%; -moz-border-radius:7px; -webkit-border-radius:7px; color:#ffffff; margin: 0px 0px 0px 0px; width: 110px; height: 28px; border:none;}

.bt-ativar{background:; border: 1px solid #878787; color: #878787; -moz-border-radius:2px; -webkit-border-radius:2px; width: 70px; height: 18px;}
.bt-ativar:hover{background:; border: 1px solid #000000; color: #000000;}
.bt-ativar:active{background:; border: 1px solid #000000; color: #000000; width: 68px; height: 16px; margin: 1px 0px 0px 1px;}

.conteudo{width: 940px; min-height: 445px; background: #f4f7ee; margin:0 auto; padding: 1px 0px 10px 0px;}

.sair a{text-decoration:none; color: #0600ff;}
.sair a:hover{text-decoration: underline; color: #fe0303;}
.ver-todos{text-decoration:none; color: #1c12e0;}
.ver-todos:hover{text-decoration:underline; color: #1c12e0;}
.topo ul {width: 900px; height: 34px; background:#8ace1e; margin: 0 auto;}
.topo ul li{display:inline; background: blue;text-align: center;}
.topo ul li a{float:left; width: 122px; height: 30px; padding: 3px 5px 0px 5px; margin:1px; background:  ; color:#fff; font-size:125%; font-family: Book Antiqua; transition: background-color .0s;}
.topo ul li a:hover{background:#75b312;}
.topo ul li a:active{background:#5b9106; }

.bt-new{margin: 10px 0px 0px 38px; background: #528cce; color: #3e3939; box-shadow: 1px 3px 8px rgba(0,0,0,.5);}
.bt-new:hover{margin: 10px 0px 0px 38px;background: #2574cd; color: #ffffff; }
.bt-new:active{margin: 12px 0px -2px 38px;background: #2574cd; color: #ffffff; box-shadow: 1px 3px 6px rgba(0,0,0,.3);}

table#tabela{margin: auto;  border-spacing: 0px; }
.tabela-new-venda {padding: 10px; color: #464646; background: #dbdbdb; text-shadow: 0 1px 0 #dbdbdb;}
.tabela-new-venda th{height: 30px;}

.tabela-new-venda2 td{border-bottom:1px solid #dbdbdb;}
.tabela-new-venda2:hover{background: #abf5a9;}

div#barra{width:940px; height: 40px; margin: 10px 0px 4px 0px; }
div#form{float: right;}

.divhref{}
.divhref:hover{background: #dadada; }
.divhref:active{background: #b8b8b8;}

.divhref2{}
.divhref2:hover{background: #75b312; }
.divhref2:active{background: #5b9106;}


.linkdetalhevenda{text-decoration:none; color: #0600ff;}
.linkdetalhevenda:hover{text-decoration: underline;}
.linkdetalhevenda:active{color: #656565;}

.divpag p{color: #717171; width: ; height: 22px; background: #ffffff; margin: 2px 0px 0px 0px;}

.divparce p{float: left; height: 24px; width: 100px;background: #dbdbdb; text-align: center; padding: 6px 0px 0px 0px;}

.divparce2 p{float: left; height: 24px; width: 100px;background: ; text-align: center; padding: 6px 0px 0px 0px; border-bottom: 1px solid #dbdbdb;}

