.divhrefrel{background: #dadada; color: #3e3939; width: 100%; height: 48px; font-size:130%; -webkit-border-radius:5px; -moz-border-radius:5px; padding: 25px 0px 0px 0px;}
.divhrefrel:hover{background: #b6b6b6; color: #000000;}
.divhrefrel:active{background: #9f9f9f;}

